html, body, #root, main {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
}

td {
  width: 2em;
  height: 2em;
  border: 1px black solid;
  display: inline-block;
}